* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #E5E5E5;
}

.background {
	background: url(/img/BG.png) top/1600px 1024px no-repeat;
}

.background:after,
.background:before {
  border-bottom: 15vw solid #E5E5E5; 
  bottom: -240px;
  content: "";
  position: absolute;
}
.background:before {
  border-right: 50vw solid transparent;
  left: 0;
}
.background:after {
  border-left: 50vw solid transparent;
  right: 0;
}

.top-bar {
	width: 956px;
	height: 76px;
	display: grid;
	grid-template-columns: 48px 297px 187px;
	grid-template-rows: 76px;
	column-gap: 212px;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 39px;
	padding-left: 247px;
	padding-right: 237px;
}

.nav {
	display: flex;
	justify-content: space-between;
	color: #ffff;
	font-size: 17px;
	line-height: 150%;
	
}

.signup_btn {
	justify-self: center;
	color: #ffff;
	font-size: 17px;
	background-color: #F44E77;
	border: none;
	width: 167px;
	height: 56px;
	border-radius: 20px;
}
/*180px 90px 54px 791.5px;*/
.main-sb {
	display: grid;
	grid-template-columns: 463px 587px;
	grid-template-rows: 180px 90px 54px 430px;
	grid-template-areas: 
	"A D"
	"A D"
	"B D"
	"C D";
	margin-right: 148px;
	margin-top: 39px;
	margin-left: 247px;
	row-gap: 13px;
}

.box-1 {
  grid-area: A;
	color: #ffff;
	font-size: 60px;
	line-height: 150%;
	letter-spacing: 2px;
	margin-top: 78px;
}

.box-2 {
  grid-area: B;
	color: #ffff;
	font-size: 20px;
	line-height: 150%;
	/*padding-top: 13px;
	padding-right: 82px;
	padding-bottom: 51px;*/
}

.box-3 {
  grid-area: C;
	width: 200px;
	height: 54px;
	background-color: #16194F;
	color: #ffff;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	line-height: 150%;
	margin-top: 38px;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
}

.box-4 {
  grid-area: D;	
}

.onecard {
	margin-left: auto;
	margin-right: auto;
	margin-top: 207.5px;
	display: grid;
	width: 946px;
	height: 268px;
	grid-template-columns: 369px 463px;
	grid-template-rows: 268px;
	column-gap: 114px;
}

.title-2 {
	color: #554DDE;
	line-height: 120%;
	font-size: 50px;
}

.card-img {
	background: url(/img/Credit\ Card.png);
	position: relative;
	width: 463px;
	height: 268px;
	border-radius: 30px;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
}

.text-2 {
	padding-top: 30px;
	font-size: 20px;
	line-height: 150%;
	color: #6A6D9E;
	text-align: left;
	vertical-align: top;
}

.feature-2 {
	margin-top: 260px;
}

.feature-3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 297px;
	width: 946px;
	height: 399px;
	display: grid;
	grid-template-columns: 369px 441px;
	column-gap: 136px;
}

.cards {
	float: left;
	display: grid; 
	grid-template-rows: 180px 248px;
  grid-template-columns: 223px 223px;
	row-gap: 30px;
	column-gap: 17px;
	height: 100%;
	margin-left: 247px;
	margin-right: 132px;
}

.balance {
	border-radius: 50px;
	border: 1px solid #CAD6F1;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
	background-color: white;
}

.trasaction {
	border-radius: 50px;
	border: 1px solid #CAD6F1;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
	background-color: white;
}

.chart {
	border-radius: 50px;
	border: 1px solid #CAD6F1;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
}

.cards-txt {
	line-height: 150%;
	font-size: 20px;
	color: #000000;
	padding-left: 40px;
	padding-top: 40px;
}

.cards-num {
	line-height: 150%;
	font-size: 40px;
	color: #554DDE;
	font-weight: 700px;
	padding-left: 40px;
	padding-top: 10px;
}

.profile-grid {
	display: flex;
	margin-top: 24px;
	align-items:center;
	column-gap: 10px;
	color: #6A6D9E;
	line-height: 150%;
	font-size: 20px;
}

.intro-plans {
	width: 735px;
	height: 116px;
	margin-left: auto;
	margin-top: 341px;
	margin-right: auto;
	margin-bottom: 120px;
}

.exeptional {
	font-size: 40px;
	line-height: 150%;
	color: #554DDE;
}

.red {
	color: #F44E77;
}

.start {
	font-size: 24px;
	color: #16194F;
	padding-top: 20px;
	line-height: 150%;
	text-align: center;
}

.plans {
	display: grid;
	width: 920px;
	height: 1133px;
	grid-template-columns: 430px 430px;
	grid-template-rows: 1131px 1131px;
	column-gap: 60px;
	margin-left: auto;
	margin-right: auto;
}

.block {
	border: 0.5px solid #CAD6F1;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
	border-radius: 50px;
	display: grid;
	grid-template-columns: 430px;
	grid-template-rows: 60px 90px 60px 54px 200px 313px;
	justify-items: center;
	row-gap: 40px;
	padding-top: 40px;
	background-color: white;
}

.title-3 {
	color: #000000;
	line-height: 150%;
	font-size: 40px;
	align-self: center;
	
}

.price {
	color: #000000;
	line-height: 150%;
	font-size: 60px;
	align-self: center;
}

.text-3 {
	font-size: 20px;
	line-height: 150%;
	color: #6A6D9E;
	text-align: center;
	align-self: center;
}

.button-2 {
	background-color: white;
	border: 2px solid #16194F;
	border-radius: 20px;
	width: 170px;
	height: 54px;
	font-size: 15px;
	line-height: 150%;
	color: #16194F;
	align-self: center;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
}

ul {
	padding-top: 20px;
	font-size: 17px;
}

li {
	padding-bottom: 15px;
	padding-left: 10px;
	list-style-image: url(/img/Check-icon\ 1.png);
}

li::marker {
	font-size: 0.1rem;
}

.card-2 {
	border-radius: 30px;
	box-shadow:0 0 50px rgba(128, 128, 128, 0.521);
}

.marker-block {
	list-style-image: url(/img/Check-icon\ 2.png);
	color: #B7B7B7;
}

.end-plans {
	width: 600px;
	height: 128px;
	margin-left: auto;
	margin-top: 260px;
	margin-right: auto;
	margin-bottom: 120px;
	text-align: center;
}

.box-5 {
	width: 946px;
	height: 96px;
	
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 90% 10%;
	background-color: #FFFFFF;
	border: 1px solid #CAD6F1;
	box-shadow: 0px 25px 50px #16194f14;
	border-radius: 20px;
	align-items:center;
}

.question {
	font-size: 24px;
	line-height: 150%;
	font-weight: bold;
	text-align: start;
	padding-left: 30px;
}

.menu_1, .menu_2, .menu_3, .menu_4, .menu_5 {
	background-color: #FFFFFF;
	border-style: none;
	color: #6A6D9E;
	font-size: 64px;
}

button {
	cursor: pointer;
}


.hidden_block {
    display: none;
}
.visible_block {
    display: block;
}

.end-plans-tabs {
	margin-bottom: 160px;
}

.footer {
	width: 100%;
	height: 440px;
	background-color: #DCE2F0;
	display: flex;
	align-items:center;
}

.footer-box {
	display: grid;
	height: 175px;
	width: 960px;
	grid-template-rows: 175px;
	grid-template-columns: 259px 500px;
	column-gap: 232px;
	margin-left: auto;
	margin-right: auto;
}

.foot-container {
	display: grid;
	grid-template-columns: 0.7fr 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 110px;
	row-gap: 20px;
	color: #16194F;
	font-size: 20px;
}

.last-style {
	font-size: 17px;
	color: #6A6D9E;
	margin-top: 30px;
}

.tab_content_1, .tab_content_2, .tab_content_3, .tab_content_4, .tab_content_5 {
	color: #16194F;
	background-color: #DCE2F0;
	width: 850px;
	height: fit-content;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	line-height: 150%;
	box-shadow: 0px 25px 50px #16194f14;
	border-radius: 0 0 20px 20px;
}